<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence      http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="test1">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>com.ehammer.entities.Customer</class>
    <class>com.ehammer.entities.Flyer</class>
    <class>com.ehammer.entities.User</class>
    <class>com.ehammer.entities.Accessright</class>
    <class>com.ehammer.entities.UserAccessright</class>
    <class>com.ehammer.entities.Settings</class>
    <class>com.ehammer.entities.EmailStatus</class>
    <class>com.ehammer.entities.Document</class>
    <class>com.ehammer.entities.Image</class>
    <properties>
      <!--
            <property name="hibernate.ejb.cfgfile" value="/hibernate.cfg.xml"/>
            <property name="hibernate.hbm2ddl.auto" value="create"/>
            -->
      <property name="hibernate.archive.autodetection" value="class, hbm"/>
      <property name="hibernate.show_sql" value="false"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.password" value=""/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/ehammer?zeroDateTimeBehavior=convertToNull"/>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
      <!--        <property name="hibernate.connection.url" value="jdbc:mysql://mysql3000.mochahost.com/byorndes_eblaster"/>
      <property name="hibernate.connection.username" value="byorndes_eblast"/>
      <property name="hibernate.connection.password" value="3blast123"/>-->
      <property name="hibernate.c3p0.min_size" value="7"/>
      <property name="hibernate.c3p0.max_size" value="30"/>
      <property name="hibernate.c3p0.timeout" value="300"/>
      <property name="hibernate.c3p0.max_statements" value="50"/>
      <property name="hibernate.c3p0.idle_test_period" value="3000"/>
      <property name="hibernate.c3p0.acquire_increment" value="5"/>
      <property name="hibernate.c3p0.acquireRetryAttempts" value="5"/>
      <property name="hibernate.c3p0.autoCommitOnClose" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
